.home-header {
    height: 3rem;
    box-shadow: 0px 5px 16px 1px rgba(0, 0, 0, 0.6);
    background-color: rgb(181, 126, 233);
}

.home-main {
    padding: 4rem 1rem 3rem 1rem;
    height: calc(100% - 6rem);
    overflow: hidden;
}

.home-footer {
    height: 3rem;
    box-shadow: 0px -5px 16px 1px rgba(0, 0, 0, 0.5);
    background-color: rgb(181, 242, 242);
}